<div class="w-full max-w-5xl mb-10">
  <div class="flex flex-wrap -mx-4 justify-center">
    <div class="w-full px-4 sm:w-5/12">
       <h4 class="font-heading font-bold text-xl mb-4 sm:mb-0">Supported Applications</h4>
    </div>
    <div class="w-full px-4 sm:w-7/12">
       <p>Salesforce Sales Cloud<br>
          Salesforce Service Cloud<br>
          Salesforce Community Cloud<br>
          Salesforce Commerce Cloud<br>
          Salesforce Government Cloud
       </p>
    </div>
    <div class="w-full px-4">
       <hr class="border-gray-800 my-10">
    </div>
    <div class="w-full px-4 sm:w-5/12">
       <h4 class="font-heading font-bold text-xl mb-4 sm:mb-0">Frequency</h4>
    </div>
    <div class="w-full px-4 sm:w-7/12">
       <p>Continuous Automated Hourly Backups (RPO)<br>
          Point-in-Time Restore
       </p>
    </div>
    <div class="w-full px-4">
       <hr class="border-gray-800 my-10">
    </div>
    <div class="w-full px-4 sm:w-5/12">
       <h4 class="font-heading font-bold text-xl mb-4 sm:mb-0">Deployment Model</h4>
    </div>
    <div class="w-full px-4 sm:w-7/12">
       <p>GRAX Enterprise:<br>
          • 100% Customer Owned, Managed, &amp; Customized<br>
          • Bring Your Own Infrastructure (AWS, Azure, GCP, Terraform, &amp; others)<br>
          <br>
          Standard GRAX Enterprise:<br>
          • Customer Owned AWS Infrastructure &amp; GRAX-Managed
       </p>
    </div>
    <div class="w-full px-4">
       <hr class="border-gray-800 my-10">
    </div>
    <div class="w-full px-4 sm:w-5/12">
       <h4 class="font-heading font-bold text-xl mb-4 sm:mb-0">Data types</h4>
    </div>
    <div class="w-full px-4 sm:w-7/12">
       <p>Standard Objects &amp; Relationships<br>
          Custom Objects &amp; Relationships<br>
          Metadata (backup only)<br>
          Files &amp; Attachments<br>
          Documents<br>
          Chatter Feeds<br>
          Knowledge Articles<br>
          Person Accounts
       </p>
    </div>
    <div class="w-full px-4">
       <hr class="border-gray-800 my-10">
    </div>
    <div class="w-full px-4 sm:w-5/12">
       <h4 class="font-heading font-bold text-xl mb-4 sm:mb-0">Filtering</h4>
    </div>
    <div class="w-full px-4 sm:w-7/12">
       <p>Object Type<br>
          Hierarchy / Relationships<br>
          SOQL Query
       </p>
    </div>
    <div class="w-full px-4">
       <hr class="border-gray-800 mt-10">
    </div>
  </div>
</div>