---
layout: default
---


<section class="mb-28">
  {% include components/section.html 
    text = "Colors"
  %}

  {% include components/eyebrow.html 
    text = "primaries"
  %}

  <p class="mb-4">These are the GRAX branding primary colors, good for background colors on things like branded buttons, cards, etc.</p>

  <div class="flex justify-start flex-wrap gap-1 mb-4">
    <div class="bg-pink-500 w-32 h-32 flex justify-center items-center">pink.500</div>
    <div class="bg-purple-500 text-white w-32 h-32 flex justify-center items-center">purple.500</div>
    <div class="bg-blue-400 w-32 h-32 flex justify-center items-center">blue.400</div>
    <div class="bg-fire-400 w-32 h-32 flex justify-center items-center">fire.400</div>
    <div class="bg-green-500 w-32 h-32 flex justify-center items-center">green.500</div>
  </div>

  {% include components/eyebrow.html 
    text = "secondaries"
  %}

  <p class="mb-4">Secondary colors are derivative from the primary colors and can be used for accents, hover states, or anywhere we need to differentiate slightly from elements using the primary color.</p>

  <div class="flex justify-start flex-wrap gap-1 mb-4">
    <div class="bg-pink-300 w-32 h-32 flex justify-center items-center">pink.300</div>
    <div class="bg-pink-400 w-32 h-32 flex justify-center items-center">pink.400</div>
    <div class="bg-pink-600 w-32 h-32 flex justify-center items-center">pink.600</div>
    <div class="bg-purple-400 text-white w-32 h-32 flex justify-center items-center">purple.400</div>
    <div class="bg-purple-600 text-white w-32 h-32 flex justify-center items-center">purple.600</div>
    <div class="bg-purple-700 text-white w-32 h-32 flex justify-center items-center">purple.700</div>
    <div class="bg-blue-400 w-32 h-32 flex justify-center items-center">blue.400</div>
    <div class="bg-fire-300 w-32 h-32 flex justify-center items-center">fire.300</div>
    <div class="bg-steel-400 w-32 h-32 flex justify-center items-center">steel.400</div>
    <div class="bg-green-400 w-32 h-32 flex justify-center items-center">green.400</div>
  </div>

  {% include components/eyebrow.html 
    text = "neutrals"
  %}

  <p class="mb-4">Use close but different shades for adding contrast and elevation.</p>

  <div class="flex justify-start flex-wrap gap-1 mb-4">
    <div class="bg-black text-white w-32 h-32 flex justify-center items-center">black</div>
    <div class="bg-white w-32 h-32 flex justify-center items-center">white</div>
    <div class="bg-gray-100 w-32 h-32 flex justify-center items-center">gray.100</div>
    <div class="bg-gray-200 w-32 h-32 flex justify-center items-center">gray.200</div>
    <div class="bg-gray-300 w-32 h-32 flex justify-center items-center">gray.300</div>
    <div class="bg-gray-400 w-32 h-32 flex justify-center items-center">gray.400</div>
    <div class="bg-gray-700 text-white w-32 h-32 flex justify-center items-center">gray.700</div>
    <div class="bg-gray-800 text-white w-32 h-32 flex justify-center items-center">gray.800</div>
    <div class="bg-gray-900 text-white w-32 h-32 flex justify-center items-center">gray.900</div>
  </div>

  {% include components/eyebrow.html 
    text = "utilities"
  %}

  <p class="mb-4">For errors</p>

  <div class="flex justify-start flex-wrap gap-1 mb-4">
    <div class="bg-red-600 text-white w-32 h-32 flex justify-center items-center">red.600</div>
  </div>

</section>

<section class="mb-28">
  {% include components/section.html 
    text = "Typography"
  %}

  {% include components/eyebrow.html 
    text = "headline"
  %}

  {% include components/headline.html 
    text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  %}

  {% include components/eyebrow.html 
    text = "h1"
  %}

  <h1 class="text-3xl font-heading font-bold leading-tighter tracking-tighter mb-4 max-w-6xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>

  {% include components/eyebrow.html 
    text = "h2"
  %}

  <h2 class="text-2xl font-heading font-bold leading-tighter tracking-tighter mb-4 max-w-6xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>

  {% include components/eyebrow.html 
    text = "h3"
  %}

  <h3 class="text-xl font-heading font-bold leading-tighter tracking-tighter mb-4 max-w-6xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>

  {% include components/eyebrow.html 
    text = "h4"
  %}

  <h4 class="text-lg font-heading font-bold leading-tighter tracking-tighter mb-4 max-w-6xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>

  {% include components/eyebrow.html 
    text = "h5"
  %}

  <h5 class="text-base font-heading font-bold leading-tighter tracking-tighter mb-4 max-w-6xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>

  {% include components/eyebrow.html 
    text = "h6"
  %}

  <h6 class="text-sm font-heading font-bold leading-tighter tracking-tighter mb-4 max-w-6xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>

  {% include components/eyebrow.html 
    text = "lead"
  %}

  {% include components/lead.html 
    text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  %}

  {% include components/eyebrow.html 
    text = "paragraph"
  %}

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="mb-28">
  {% include components/section.html 
    text = "Buttons"
  %}

  {% include components/eyebrow.html 
    text = "sizes"
  %}

  <div class="flex flex-wrap gap-3 items-start mb-6">
    {% include components/button.html 
      size = "xs"
      text = "Button"
    %}
    
    {% include components/button.html 
      size = "sm"
      text = "Button"
    %}
    
    {% include components/button.html 
      size = "default"
      text = "Button"
    %}
    
    {% include components/button.html 
      size = "lg"
      text = "Button"
    %}
    
    {% include components/button.html 
      size = "xl"
      text = "Button"
    %}
  </div>

  {% include components/eyebrow.html 
    text = "colors"
  %}

  <div class="flex flex-wrap gap-3 items-start">
    {% include components/button.html 
      color = 'default'
      text = "Button"
    %}

    {% include components/button.html 
      color = 'black'
      text = "Button"
    %}

    {% include components/button.html 
      color = 'black-purple-hover'
      text = "Button"
    %}

    {% include components/button.html 
      color = 'gradient'
      text = "Button"
    %}

    {% include components/button.html 
      color = 'gray'
      text = "Button"
    %}
  </div>
</section>

<section class="mb-28">
  {% include components/section.html 
    text = "Alerts"
  %}

  {% include components/eyebrow.html 
    text = "success with description"
  %}

  <div class="rounded bg-green-100 px-4 py-3 mb-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-green-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-4">
        <h3 class="text-sm font-medium text-green-800">Order completed</h3>
        <div class="mt-2 text-sm text-green-800">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</p>
        </div>
      </div>
    </div>
  </div>
  
  {% include components/eyebrow.html 
    text = "warning with actions"
  %}

  <div class="rounded bg-yellow-100 px-4 py-3 mb-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-yellow-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-4">
        <h3 class="text-sm font-medium text-yellow-900">Attention needed</h3>
        <div class="mt-2 text-sm text-yellow-900">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam quo totam eius aperiam dolorum.</p>
        </div>
        <div class="mt-4">
          <div class="flex flex-wrap gap-3">
            {% include components/button.html 
              size = 'sm'
              color = 'gray'
              text = "View status"
            %}
            {% include components/button.html 
              size = 'sm'
              color = 'gray'
              text = "Dismiss"
            %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include components/eyebrow.html 
    text = "error with list"
  %}

  <div class="rounded bg-red-100 px-4 py-3 mb-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-4">
        <h3 class="text-sm font-medium text-red-600">There were 2 errors with your submission</h3>
        <div class="mt-2 text-sm text-red-600">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <li>Your password must be at least 8 characters</li>
            <li>Your password must include at least one pro wrestling finishing move</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-28">
  {% include components/section.html 
    text = "Tables"
  %}

  {% include components/eyebrow.html 
    text = "style 1"
  %}

  {% include components/table-alt.html %}

  {% include components/eyebrow.html 
    text = "style 2"
  %}

  {% include components/table.html %}
</section>

<section class="mb-28">
  {% include components/section.html 
    text = "Cards"
  %}

  {% include components/eyebrow.html 
    text = "grid"
  %}

  {% include components/cards.html %}
</section>

{{ content }}
