<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include layout/head.html -%}

<body class="h-full">
  <!--
    This example requires updating your template:

    ```
    <html class="h-full bg-gray-50">
    <body class="h-full">
    ```
  -->
  <div>

  {%- include layout/sidebar.html -%}

  <div class="lg:pl-64">

    {%- include layout/search.html -%}

    <main class="px-10 py-12">
      {{ content }}
    </main>
  </div>

  {%- include layout/footer.html -%}

  </div>

</body>

</html>
